.container {
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: solid 1px rgb(37, 42, 46);
  justify-content: space-around;
}
.tab {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: ease-in-out background 0.2s;
  color: white;
  z-index: 1;
}
.activeTab {
  color: white;
  font-weight: 700 !important;
}
.disabledTab {
  opacity: 0.6;
}
.tab:hover {
  background-color: rgb(25, 25, 25);
}
.activeBar {
  background-color: rgb(29, 155, 240);
  height: 4px;
  position: absolute;
  bottom: 0;
  border-radius: 25px;
}
.activeBar1 {
  width: 56px;
}
.activeBar2 {
  width: 70px;
}
.hidden {
  display: none;
}
