.container {
  width: 100%;
  min-height: 10em;
  border-bottom: solid 1px rgb(37, 42, 46);
}
.img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 100px;
}
.img div {
  position: absolute;
  border: 50px solid black;
  border-radius: 50%;
  width: 50px;
  min-height: 50px;

  background-color: transparent;
}
.img img {
  width: 100px;
}
.inputGroup {
  display: flex;
  padding-top: 15px;
  padding-left: 2px;
  align-items: center;
  width: 100%;
}
.inputGroup form,
textarea {
  width: 95%;
}
.inputGroup textarea {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgb(37, 42, 46);
  outline: none;
  color: white;
  font-size: 1.5em;
  resize: none;
  word-break: break-all;
  letter-spacing: -1px;
  padding-bottom: 24px;
}
.controlGroup {
  display: flex;
  color: #1d9bf0;
  font-size: 1.4em;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 24px;
}
.controlGroup div {
  display: flex;
  gap: 1em;
}

.controlGroup button {
  font-size: 15px;
  background-color: #1d9bf0;
  border: none;
  font-weight: 600;
  color: white;
  border-radius: 20em;
  padding: 8px 16px;
}
