.container {
  width: 100%;
  min-height: 5em;
  padding: 15px 2px;

  border-bottom: #252a2e 1px solid;
}
.img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 100px;
}
.img div {
  position: absolute;
  border: 50px solid black;
  border-radius: 50%;
  width: 50px;
  min-height: 50px;

  background-color: transparent;
}
.img img {
  width: 100px;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.body p {
  width: 80%;

  padding-right: 42px;
}
.body div {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4em;
  opacity: 0.6;
}
.icon:hover {
  /* TODO: Add specific colors to each icon */
  opacity: 1;
  color: #1d9bf0;
}
